:root{
    --azul:#004AAD;
    --azulClaro:#0071BC;
    --preto:#283146;
    --cinza: #EFEFEF;
    --branco: #FEFEFE;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: var(--azulClaro);
}
.musicApp{
    display: flex;
}
.musicApp p{
    color: var(--branco);
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.disco{
    margin-left: 110px;
    display: grid;
    place-items: center;
}
.circulo1{
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background-color: var(--azul);
    display: grid;
    place-items: center;
}
.circulo2{
    width: 355px;
    height: 355px;
    border-radius: 50%;
    background-color: var(--preto);
    display: grid;
    place-items: center;
}
.circulo3{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #232939;
    display: grid;
    place-items: center;
}
.circulo4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--azulClaro);
}

.textOla h1{
    color: var(--branco);
    font-size: 50px;
    padding-left: 20px;
}

.iniciar{
    display: flex;
    margin-top: 150px;
    margin-left: 200px;
    display: flex;
    color: var(--branco);
}
.iniciar p{
    margin-top: 25px;
    margin-right: 12px;
}

