*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0071BC;
}
.musicApp{
    display: flex;
}
.musicApp p{
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}